*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bgDark: #222;
    --bgLight: #444;
    --accentClr: #2ffefe;
    --textPrimary: #ddd;
    --textSecondary: #aaa;
}

/* mobile first approach */
html {
    font-size: 12px;
}
body {
    margin: 1rem;
    background-color: var(--bgDark);
    color: var(--textPrimary);
    font-family: sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 1.25rem;
    padding: .5rem 1rem;
    position: relative;
    align-self: start;
    justify-self: start;
}
    .btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: var(--accentClr);
        opacity: .5;
        height: 1rem;
        width: 75%;
        z-index: -1;
        transform-origin: top left;
        transition: transform 250ms ease-in-out;
    }
    .btn:hover::before,
    .btn:focus::before {
        transform: scale(1.4, 2.5);
    }

.title {
    color: var(--accentClr);
    text-transform: uppercase;
    margin: 0;

    /* clamp value for font size property */
                   /* min, mid, max */
    font-size: clamp(2rem, 7vw, 7rem);
}

.subtitle {
    color: var(--accentClr);
    opacity: .5;
    margin: 0;
    font-size: 2rem;
    margin-bottom: 2rem;
}

header {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.logo {
    font-size: 2rem;
    color: var(--accentClr);
    opacity: .5;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    color: var(--textPrimary);
    text-transform: capitalize;
    text-decoration: none;
    transition: color 500ms ease-in-out;
}
    .nav-link:hover,
    .nav-link:focus {
        color: var(--accentClr);
    }

.skills {
    /* display: flex;
    flex-wrap: wrap; */
    /* gap property is currently supported only in Firefox */
    /* gap: 1rem;
    margin-top: 2rem; */

    /* ============ */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 1rem auto;
}
    .skills img {
        margin: 1rem;
    }

.description {
    padding-right: 1rem;
}

footer {
    margin-top: 2rem;
}

.social-links i {
    color: var(--accentClr);
    opacity: .5;
    font-size: 3rem;
    margin: .5rem;
    transition: opacity 500ms ease-in-out;
}
    .social-links i:hover {
        opacity: 1;
    }

@media (min-width: 800px) {
    html {
        font-size: 14px;
    }
    body {
        margin: 0;
    }
    .main-grid {
        display: grid;
        grid-template-columns: minmax(1rem, 1fr) 
                               repeat(2, minmax(15rem, 35rem))
                               minmax(5rem, 10rem)
                               minmax(1rem, 1fr);
        gap: 2rem;
        position: relative;
    }
    header {
        grid-column: 2 / 5;
        display: grid;
        grid-template-columns: subgrid;
    }
    nav {
        grid-column: 2 / 5;
    }
    main {
        grid-column: 2 / -1;
        display: grid;
        grid-template-columns: subgrid;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
    }
        main::after {
            content: '';
            background-color: var(--bgLight);
            position: absolute;
            top: 0;
            bottom: 0;
            left: -2rem;
            right: -2rem;
            grid-column: 3 / 5;
            z-index: -10;
        }
    title {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .subtitle {
        font-size: 2.5rem;
    }
    .big-img {
        grid-column: 2 / -1;
        grid-row: 1 / span 4;
        z-index: -1;
        height: 100%;
        max-height: 35rem;
        width: min(100%, 60rem);
        object-fit: cover;
    }
    .skills {
        grid-column: 2 / 4;
        grid-template-columns: repeat(4, 1fr);
    }
    footer {
        grid-column: 2 / 3;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
    main::after {
        grid-column: 3 / 4;
    }
    .nav,
    .skills {
        grid-column: 2 / 3;
    }
}